section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

@media (min-width: 1080px){
section{
  flex-direction: row ;
  justify-content: space-between;
}

}
